body {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0px;
}

#first {
  width: 100%;
  height: 50px;
  background-color: #ad84a1;
  text-align: center;
  margin: 0px;
}
#social {
  float: left;
  margin-left: 300px;
  margin-top: 7px;
}
#search {
  float: right;
  margin-top: 9px;
  margin-right: 300px;
}

img {
  width: 37px;
  margin-right: 5px;
}

#search input[type='text'] {
  width: 200px;
  height: 30px;
  margin: 0px;
  border-radius: 4px;
  outline: none;
  border-color: white;
  margin-right: -3px;
}

#search input[type='submit'] {
  width: 70px;
  height: 30px;
  margin: 0px;
  font-family: 'Archivo Narrow', sans-serif;
  border-radius: 4px;
  outline: none;
  border-color: #79043fb3;
  background-color: #79043fb3;
  color: white;
  font-weight: bolder;
}
#second img {
  margin-top: 8px;
  width: 100%;
  height: 100px;
}
#second {
  margin: 0x;
}
#third {
  height: 40px;
  background-color: #79043fb3;
  text-align: center;
  color: white;
  padding-top: 10px;
}
#third li {
  text-transform: uppercase;
  display: inline;
  margin: 0px;
  margin-right: 8px;
  /* padding-top: 12.2px;
  padding-bottom: 18px; */
  padding: 12.2px 5px 18px 5px;
}

#third li:hover {
  background-color: #79043f;
  cursor: pointer;
}

#mainPic {
  width: 100%;
  height: 500px;
}

#left {
  float: left;
  margin-left: 200px;
  width: 500px;
  color: rgb(65, 64, 64);
}
#left h1,
#left p {
  font-weight: lighter;
}
#left button {
  color: white;
  background-color: #79043f;
  width: 150px;
  height: 40px;
  outline: none;
  border-color: #79043f;
}
#img {
  float: right;
}
#img img {
  width: 500px;
  height: 300px;
  margin-right: 200px;
  padding: 20px;
}
#services {
  height: 300px;
  width: 1279px;
  height: 551px;
  float: left;
  padding-left: 244px;
  background-color: rgb(167 164 164 / 16%);
  color: #79043f;
  padding-bottom: 40px;
}
#services p {
  color: rgba(129, 127, 127, 0.377);
}
#services table {
  text-align: center;
}
#services td {
  width: 300px;
  margin-left: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: -20px;
}

#services h1 {
  margin-left: 430px;
}
td h3 {
  color: #5e0833;
}
#services #inServices {
  margin-left: 360px;
  color: rgba(75, 73, 73, 0.726);
}

td:hover {
  background-color: white;
}

.form {
  float: left;
  width: 100%;
  height: 350px;
  background-color: #0c0c39;
  /* padding-left: 300px; */
  padding-top: 36px;
  text-align: center;
  color: white;
  margin-bottom: 0px;
}
.form input {
  width: 300px;
  height: 30px;
  margin: 5px;
  border-radius: 4px;
  padding-top: 5px;
  padding-left: 7px;
}
.form textarea {
  padding-top: 5px;
  padding-left: 7px;
  width: 615px;
  height: 100px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 4px;
}
.form button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: rgb(139, 72, 83);
  border: none;
  padding: 5px 0px;
  cursor: pointer;
}
#footer {
  width: 100%;
  height: 300px;
  margin-top: 0px;
}
